# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]
**/__pycache__/*

# Log files
*.Log

# IDE  
.vscode/*
.venv/*

# Files & folders
prova.py
results/*
Ground_PDFs_plots/*
temp/*
saves/*
labels_sim_distribution.py